@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --border: 240 3.7% 15.9%;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white via-purple-200 to-blue-500;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes typeSlideIn {
0% {
    opacity: 0;
    transform: translateX(-100%);
    /* Starts from the left */
    width: 0;
  }

  50% {
    opacity: 0.5;
    width: 60%;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    /* Ends in its normal position */
    width: 100%;
  }
}

.animate-type-slide-in {
  display: inline-block;
  /* Important for controlling the width */
  animation: typeSlideIn 4s ease-out forwards;
  /* Adjust duration as needed */
  white-space: nowrap;
  overflow: hidden;
  /* Prevents text overflow during the animation */
}

.animate-slide-in-left {
  animation: slideInLeft 2s ease-out forwards;
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradientAnimation 3s ease infinite;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

::selection {
  background: rgba(147, 51, 234, 0.2);
}